@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 10px;
} 

body { 
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.tamanho-principal {
    width: 100%;
    max-width: 110rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cabecalho > .tamanho-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.cabecalho-imagem {
    height: 7.2rem;
    width: 6.2rem;
    height: 6.2rem;
}

.cabecalho-menu {
    display: flex;
    gap: 3.2rem;
}

.cabecalho-menu svg {
  display: none;
}

.cabecalho-menu-item {
    font-family: "Sarala", sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.8rem;
    transition: 300ms;
}

.cabecalho-menu-item:hover{
    text-shadow: rgba(230, 181, 75, 0.877) 1px 0 15px;
}

.conteudo {
    margin-bottom: 4.8rem;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.conteudo-principal-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 6.4rem;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 18rem;
    height: 6rem;
    border: none;
    box-shadow: 4px 5px 4px 0px #00000040;
    border-radius: 2rem;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: #2F2325;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 40rem;
    border-radius: 100%;
    
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin-top: 4.8rem;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 4.8rem;
    font-family: "Righteous", cursive;
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff2e7;
    margin-bottom: 1.6rem;
    text-align: center;
}
 
.conteudo-secundario-paragrafo {
    font-family: "Sarala", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #ECD6C4;
    text-align: center;
}

.rodape {
    padding: 3.2rem;
    border-top: 0.4px solid #fff2e7;

}

.rodape-imagem {
    height: 4.8rem;
    display: block;
    margin: 0 auto;
}

.habilidades-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    column-gap: 3rem;
}

.projetos-container {
    display: flex;
    gap: 3rem;
    width: 100%;
}

.projeto-img {
    width: 100%;
    border-radius: 2rem;
    transition: 370ms ease-in-out;
}

.projeto-img:hover {
    transform: scale(1.1);
}

main.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades-container svg:hover {
    transform: scale(1.1);
}

.habilidades-container svg {
    transition: 370ms ease-in-out;
}

.contatos-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.contato-item {
    background: rgba(87, 59, 56, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 5px solid rgba(87, 59, 56, 0.29);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.contato-img-container {
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 0.5px solid #fff2e7;
    width: 100%;
    padding: 2rem;
}

.contato-img-container h4 {
    font-family: "Righteous", cursive;
    font-weight: 400;
    font-size: 2.5rem;
    height: 3rem;
    color: #ECD6C4;
}

.imagem-card {
    aspect-ratio: 1;
    border-radius: 100%;
    max-width: 20rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.imagem-card img {
    height: 100%;
}

.contato-info{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.contato-info-label {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contato-info-label p {
    font-family: "Sarala", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #ECD6C4;
}

.contato-info-label svg {
    fill: #ECD6C4;
}

.contato-img-container > img {
    width: 3rem;
}

.botao-conteudo-principal {
    display: flex;
    gap: 2rem;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: "Righteous", sans-serif;
    color: #FFF2E7;
    transition: 300ms;
    user-select: none;
}

.rodape:hover {
    text-shadow: rgba(230, 181, 75, 0.877) 1px 0 15px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #FFF2E7;
  margin: 8px;
  transition: 0.3s;
}

.cabecalho-menu {
  position: relative;
}

.cabecalho-menu svg{
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  fill: #FFF2E7;
}

@media (max-width: 1200px) {
  .conteudo-principal {
    flex-direction: column;
    padding-top: 3rem;
    gap: 4rem;
  }
  
  main.conteudo {
    padding: 0 3rem;
  }
  
  .contatos-container, 
  .projetos-container {
    flex-wrap: wrap;
  }

  .cabecalho {
    padding: 0 3rem;
  }
}

@media (max-width: 800px) {
  html {
    scroll-padding-top: 10rem;
  }

  body {
    overflow-x: hidden;
  }
  .cabecalho{
    width: 100%;
    position: fixed;
    border-bottom: 0.4px solid #fff2e7;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    z-index: 2;
  }
  .conteudo {
    border-top: none;
  }
  
  .conteudo-principal{
    padding-top: 8.6rem;
  }
  .mobile-menu {
    display: block;
  }

  .cabecalho-menu svg {
    display: block;
  }  

  .cabecalho-menu {
    /* From https://css.glass */
    background: #23232e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0; 
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: 300ms;
  }

  .cabecalho-menu-ativo {
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .conteudo-principal-imagem {
    height: 30rem;
  }
}

@media (max-width: 450px) {
  .botao-conteudo-principal {
    flex-direction: column;
  }

  .contato-info-label p {
    font-size: 1.4rem;
  }

  .contato-img-container{
    padding: 0;
    padding-bottom: 2rem;
  }

  .conteudo-principal-escrito-subtitulo br {
    display: none;
  }
}